{% load i18n static %}

{% if questionnaire %}
<div class="d-flex justify-content-center">
    <div class="card text-center" style="min-width:50rem">
        <div class="card-body">
            <h2>{% trans "Wellness (svāsthya) questionnaire" %}</h2>
            <span>
                <h2>
                    {% trans "Date:" %} {{ questionnaire.date }}.
                    {% trans "Score:" %} {{ questionnaire.score }} / 32
                </h2>
            </span>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">{% trans "Question" %}</th>
                        <th scope="col">{% trans "Response" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for qr in questionnaire.questions %}
                    <tr>
                        <td class="text-left">
                            {{ forloop.counter }}.
                            {{ qr.question.question }}
                        </td>
                        <td>{{ qr.response }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <hr>
            <a type="button" class="btn btn-primary"
                href="{% url 'webapp:wellness_assessment' %}">
                {% trans 'Back' %}
            </a>
        </div>
    </div>
</div>
{% endif %}

{% if question_types %}
<div class="d-flex justify-content-center">
    <div class="card text-center" style="min-width:50rem">
        <div class="card-body">
            <h2>{% trans "Wellness (svāsthya) questionnaire"%}</h2>
            <form method="post" action="appapi/svasthyaquestionnaire/">
                {# action="{% url 'submit_svasthya_questionnaire' %}"> #}
                {% csrf_token %}
                {% for qt in question_types %}
                <div class="form-group row justify-content-between">
                    <input type="hidden" readonly value={{ qt.order }}
                        name="q-{{ qt.order }}">
                    </input>
                    <label for="id_response_{{ forloop.counter }}"
                        class="col-auto col-form-label">
                        {{ forloop.counter }}.
                        {{ qt.question }}
                    </label>
                    <div class="col-auto">
                        <select class="form-control" required
                            id="id_response_{{ forloop.counter }}"
                            name="r-{{ qt.order }}">
                            <option value="">
                                {% trans "--Select a response--" %}
                            </option>
                            <option value="0">
                                {% trans "0 - Not at all" %}
                            </option>
                            <option value="1">
                                {% trans "1 - A little bit" %}
                            </option>
                            <option value="2">
                                {% trans "2 - To some extent" %}
                            </option>
                            <option value="3">
                                {% trans "3 - Rather much" %}
                            </option>
                            <option value="4">
                                {% trans "4 - Very much" %}
                            </option>
                        </select>
                    </div>
                </div>
                <hr>
                {% endfor %}
                <button class="btn btn-primary" type="submit">
                    {% trans 'Submit' %}
                </button>
                <a type="button" class="btn btn-secondary"
                    href="{% url 'webapp:wellness_assessment' %}">
                    {% trans 'Back' %}
                </a>
            </form>
        </div>
    </div>
</div>
{% endif %}