{% extends 'adminlte/base.html' %}
{% load static i18n %}

{% block body %}
    <div class="alert alert-danger" role="alert">
        <center>
            <h5>
                This app is currently under development and for demonstration
                purpose only. DO NOT enter any personally identifiable
                information here.<br>View
                <a href="{% url 'rhcapp_tos' %}">
                {% blocktrans %}Terms{% endblocktrans %}</a>.
            </h5>
        </center>
    </div>
    {{ block.super }}
{% endblock body %}

{% block title %}Rasāyu Healthcare{% endblock %}

{% block extra_head %}
<link rel="shortcut icon" href="{% static 'webapp/favicon.png' %}">
{% endblock %}
