{% extends 'webapp/base.html' %}

{% load i18n static %}

{% block content %}

<h1>
    {% blocktrans %}
    Health assessment
    {% endblocktrans %}
</h1>

<div id="id_no_questionnaires" style="display: none;">
    {% blocktrans %}
    No assessment done yet.
    {% endblocktrans %}
    <a href="{% url 'rhcapp_svasthya_questionnaire' %}">
        {% blocktrans %}
        Take your first assessment.
        {% endblocktrans %}
    </a>
</div>

{% if svasthya_questionnaires %}
<div class="d-flex justify-content-center">
    <div class="card text-center" style="min-width:50rem">
        <div class="card-body">
            <h1>{% trans "Svāsthya questionnaires"%}</h1>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Score</th>
                            <th scope="col">View questionnaire</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for sq in svasthya_questionnaires %}
                        <tr>
                            <td scope="row">{{ sq.date }}</td>
                            <td>{{ sq.score }}</td>
                            <td>
                                <a
                                    href="{% url 'rhcapp_svasthya_questionnaire' id=sq.pk %}">
                                    View
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <span>
            Your next assessment is/was due on
            <b>{{ next_assessment_date|date }}</b>.
        </span>
        <a href="{% url 'rhcapp_svasthya_questionnaire' %}">
            {% blocktrans %}
            Take another assessment.
            {% endblocktrans %}
        </a>
    </div>
</div>
{% endif %}


{% endblock content %}

{% block extra_js %}
<script type="text/javascript" charset="utf-8">
    // GLOBALS
    const RHCAPP = {
        CRF_PATIENT_PK: "{{ user.profile.crf_patient_pk }}",
    };
</script>
<script src="{% static 'webapp/js/health_assessment.js' %}"></script>
{% endblock %}