{% extends 'webapp/base.html' %}

{% load i18n static %}

{% block content %}

<h1>
    {% blocktrans %}
    Health assessment
    {% endblocktrans %}
</h1>

<div id="id_no_questionnaires" style="display: none;">
    {% blocktrans %}
    No assessment done yet.
    {% endblocktrans %}
    <a href="{% url 'rhcapp_svasthya_questionnaire' %}">
        {% blocktrans %}
        Take your first assessment.
        {% endblocktrans %}
    </a>
</div>

{% endblock content %}

{% block extra_js %}
<script type="text/javascript" charset="utf-8">
    // GLOBALS
    const RHCAPP = {
        CRF_PATIENT_PK: "{{ user.profile.crf_patient_pk }}",
    };
</script>
<script src="{% static 'webapp/js/health_assessment.js' %}"></script>
{% endblock %}