{% extends 'webapp/base.html' %}

{% load i18n %}

{% block content %}

<div class="jumbotron">
    <h1 class="display-4">
        {% blocktrans %} Welcome to Rasāyu Healthcare! {% endblocktrans %}
    </h1>
    <p class="lead">
        {% blocktrans %}
        Live a long, happy and fulfilling life with easy to follow presonalised
        and preventive healthcare recommendations based on Āyurveda.
        {% endblocktrans %}
    </p>
    <hr class="my-4">
    <p>
        {% blocktrans %}
        A public welfare initiative by <b>Rasāyu</b>, a leader in chronic and
        critical healthcare for more than 25 years.
        {% endblocktrans %}
    </p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="{% url 'rhcapp_about_rasayu' %}"
            role="button">
            {% blocktrans %}About Rasāyu{% endblocktrans %}
        </a>
    </p>
</div>

<div class="card-deck">
    <div class="card text-center">
        {% comment %} <img class="card-img-top" src="..." alt="Card image cap">
        {% endcomment %}
        <div class="card-header">
            {% blocktrans %}
            Track and improve your health
            {% endblocktrans %}
        </div>
        <div class="card-body">
            {# Removed `.card-title` as otherwise title is not center aligned #}
            <h5> {# class="card-title"> #}
                {% blocktrans %}
                Health (svāsthya) assessment
                {% endblocktrans %}
            </h5>
            <p class="card-text">
                {% blocktrans %}
                Are you really healthy? Assess and track your health, follow
                simple tips and get the most out of your life! Get reminders for
                periodic assessments to track and maintain a good health or
                gradually improve it with relevant tips.
                {% endblocktrans %}
            </p>
            <div>
                <a class="btn btn-primary"
                    href="{% url 'rhcapp_health_assessment' %}" role="button">
                    {% blocktrans %}Assess your health{% endblocktrans %}
                </a>
            </div>
        </div>
        <div class="card-footer">
            <small class="text-muted">
                {% blocktrans %}
                No follow up reminders yet.<br>
                {% endblocktrans %}
                <a href="{% url 'rhcapp_health_assessment' %}">
                    {% blocktrans %}
                    Take your first assessment!
                    {% endblocktrans %}
                </a>
            </small>
        </div>
    </div>
    <div class="card text-center">
        {% comment %} <img class="card-img-top" src="..." alt="Card image cap">
        {% endcomment %}
        <div class="card-header">
            {% blocktrans %}
            Seasonal routine and regimen
            {% endblocktrans %}
        </div>
        <div class="card-body">
            {# Removed `.card-title` as otherwise title is not center aligned #}
            <h5> {# class="card-title"> #}
                {% blocktrans %}
                Prakṛti assessment
                {% endblocktrans %}
            </h5>
            <p class="card-text">
                {% blocktrans %}
                Get personalised tips and reminders on adjusting your lifestyle
                as per the changing seasons. Take timely precautions to avoid
                seasonal ailments. All this personalised as per your prakṛti.
                {% endblocktrans %}
            </p>
            <div>
                <a class="btn btn-primary"
                    href="{% url 'rhcapp_health_assessment' %}" role="button">
                    {% blocktrans %}Assess your prakṛti{% endblocktrans %}
                </a>
            </div>
        </div>
        <div class="card-footer">
            <small class="text-muted">
                {% blocktrans %}
                Get seasonal tips and reminders.
                {% endblocktrans %}
            </small>
        </div>
    </div>
    <div class="card text-center">
        {% comment %} <img class="card-img-top" src="..." alt="Card image cap">
        {% endcomment %}
        <div class="card-header">
            {% blocktrans %}
            Preventive healthcare tips
            {% endblocktrans %}
        </div>
        <div class="card-body">
            {# Removed `.card-title` as otherwise title is not center aligned #}
            <h5> {# class="card-title"> #}
                {% blocktrans %}
                Risk factors assessment
                {% endblocktrans %}
            </h5>
            <p class="card-text">
                {% blocktrans %}
                Get recommendations on preventive healthcare based on various
                factors such as your dhātu sāratā (quality of body tissues),
                family medical history, lifestyle, etc.
                {% endblocktrans %}
            </p>
            <div>
                <a class="btn btn-primary"
                    href="{% url 'rhcapp_health_assessment' %}" role="button">
                    {% blocktrans %}
                    Assess your risk factors
                    {% endblocktrans %}
                </a>
            </div>
        </div>
        <div class="card-footer">
            <small class="text-muted">
                {% blocktrans %}
                Get preventive tips.
                {% endblocktrans %}
            </small>
        </div>
    </div>
</div>

{% endblock %}