{% extends 'webapp/base.html' %}

{% load i18n %}

{% block content %}

<div class="jumbotron">
    <h1 class="display-4">
        {% blocktrans %} Welcome to Rasayu Healthcare! {% endblocktrans %}
    </h1>
    <p class="lead">
        {% blocktrans %}
        Live a long, happy and fulfilling life with easy to follow presonalised and
        preventive health recommendations based on Ayurved.
        {% endblocktrans %}
    </p>
    <hr class="my-4">
    <p>
        {% blocktrans %}
        A public welfare initiative by <b>Rasayu</b>, a leader in chronic and critical
        healthcare for more than 25 years.
        {% endblocktrans %}
    </p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="{% url 'rhcapp_about_rasayu' %}" role="button">
            {% blocktrans %}About Rasayu{% endblocktrans %}
        </a>
    </p>
</div>

<div class="card-deck">
    <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This card has even longer content than the first to show that equal height action.</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
</div>

{% endblock %}