{% extends 'webapp/base.html' %}

{% load i18n %}

{% block content %}

{% blocktrans %}

<h1>Terms of Service</h1>

<p>
    The information provided within this site is strictly for the purposes of
    information only and is not a replacement or substitute for professional
    advice, doctors visit or treatment. Treatment for each patient has to be
    planned considering various associated factors and hence it can only be
    done by a qualified medical practioner. Hence the provided content on this
    site should serve, at most, as a guide alongwith professional consult. It
    should under no circumstance replace the advice of a healthcare
    Proffesional. You should always consult the Physician to decide best
    treatment for you.
</p>

{% endblocktrans %}

{% endblock content %}